* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    height: 900px;
    color: #ffffff;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    border-radius: 10px; /* Arredonda levemente os cantos */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #2c2c2c;
}

.hero h1 {
    margin-bottom: 20px;
}

.products {
    position: relative;
    padding: 80px;
}

.products h2 {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

.product-list {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.product-listtres {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.product {
    position: relative;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.product img {
    position: relative;
    max-width: 100%;
    border-radius: 8px;
}

.product h3 {
    position: relative;
    margin: 10px 0;
}

.product p {
    position: relative;
    margin: 10px 0;
    font-size: 18px;
}

button {
    background-color: #ff2222;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e00000;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #1f1f1f;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rounded-image {
    border-radius: 10px; /* Arredonda levemente os cantos */
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.terms-container {
    max-width: 800px;
    margin: auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaço entre a imagem e o texto */
    border-radius: 10px; /* Arredonda levemente os cantos */
}

.logo img {
    height: 75px;
    width: 75px;
    border-radius: 10px; /* Arredonda levemente os cantos */
}

.logo strong {
    font-size: 24px;
    color: #ffffff;
    border-radius: 10px; /* Arredonda levemente os cantos */
}

.important {
    font-weight: bold;
    color: #ff6f61;
}

.highlight {
    background-color: #ffefc5;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

@media screen .and. (max-width: 768px){} {
    produto-container{
        width:100%;
        flex-direction: column;
    }
}
