/* produtos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 10px;
}

header .logo h1 {
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
}

.products {
    padding: 20px;
    text-align: center;
    background-color: #1a1a1a;
}

.products h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: #2a2a2a;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #e0e0e0;
}

.product p {
    font-size: 16px;
    color: #b3b3b3;
}

.button-default {
    background-color: #ff0000;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-default:hover {
    background-color: #a50000;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

footer a img {
    margin: 0 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
    }
    header nav ul.active {
        display: flex;
    }
}
